{#
 This file is part of PostCarrier for EC-CUBE

 Copyright(c) IPLOGIC CO.,LTD. All Rights Reserved.
 http://www.iplogic.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['postcarrier', 'postcarrier_stepmail'] %}

{% block title %}{{ 'postcarrier.stepmail.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'postcarrier.title'|trans }}{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>

<script>
function fnExec(action) {
    if (confirm('このステップメールを即時配信しても宜しいですか？')) {
        document.form1.action = action;
        document.form1.submit();
    }
}
</script>
{% endblock %}

{% block main %}
<form name="form1" id="form1" method="post" action="">
    <div class="c-outsideBlock__contents mb-5">
        {% if pagination %}
            <span class="font-weight-bold ml-2">{{ 'admin.postcarrier.history.search_count'|trans({'%count%':pagination.totalItemCount}) }}</span>
        {% endif %}
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                {% if pagination and pagination.totalItemCount %}
                    <div class="row justify-content-between mb-2">
                        <div class="col-6"></div>

                        <div class="col-5 text-right">
                            {#Dropdown page count#}
                            <div class="d-inline-block mr-2">
                                <select class="custom-select" onchange="location = this.value;">
                                    {% for pageMax in pageMaxis %}
                                        <option {% if pageMax.name == page_count %} selected {% endif %}
                                                value="{{ path('plugin_post_carrier_stepmail_page', {'page_no': 1, 'page_count': pageMax.name }) }}">
                                            {{ 'admin.common.count'|trans({ '%count%': pageMax.name }) }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="d-inline-block">
                                <div class="btn-group" role="group"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'postcarrier.stepmail.th_start_time'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'admin.postcarrier.history.th_subject'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center pr-3">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for Schedule in pagination %}
                                    {% if Schedule.state == 'NORMAL' %}
                                    {%    set op_color = '' %}
                                    {% elseif Schedule.state == 'PAUSED' %}
                                    {%    set op_color = 'background: #C9C9C9;' %}
                                    {% endif %}
                                    <tr style="{{ op_color }}">
                                        <td>{{ Schedule.stepDisp }} {{ Schedule.startTime|date("H:i") }}</td>
                                        <td>
                                            <a href="{{ url('plugin_post_carrier_stepmail_edit', { id: Schedule.deliveryId }) }}">{{ Schedule.subject}}
                                                <br>[{{ Schedule.type|upper }}]
                                            </a>
                                        </td>
                                        <td class="icon_edit align-middle pr-3 text-center">
                                            <div class="row justify-content-end">
                                                <div class="col-auto text-center">
                                                    <a href="{{ url('plugin_post_carrier_history_preview', { id: Schedule.deliveryId }) }}" >
                                                        {{ 'postcarrier.history.btn_preview'|trans }}
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center">
                                                    <a href="{{ url('plugin_post_carrier_history_condition', { id: Schedule.deliveryId }) }}">
                                                        {{ 'postcarrier.history.btn_condition'|trans }}
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center">
                                                    <a href="{{ url('plugin_post_carrier_stepmail_copy', { id: Schedule.deliveryId }) }}">
                                                        {{ 'postcarrier.history.btn_copy'|trans }}
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center">
                                                {% if Schedule.state == 'NORMAL' %}
                                                    <a href="{{ url('plugin_post_carrier_stepmail_pause', { id: Schedule.deliveryId }) }}">
                                                        {{ 'postcarrier.stepmail.btn_pause'|trans }}
                                                    </a>
                                                {% elseif Schedule.state == 'PAUSED' %}
                                                    <a href="{{ url('plugin_post_carrier_stepmail_resume', { id: Schedule.deliveryId }) }}">
                                                        {{ 'postcarrier.stepmail.btn_resume'|trans }}
                                                    </a>
                                                {% endif %}
                                                </div>
                                                <div class="col-auto text-center">
                                                    <a href="#" data-toggle="modal" data-target="#deleteModal{{ Schedule.deliveryId }}">
                                                        {{ 'postcarrier.schedule.btn_delete'|trans }}
                                                    </a>
                                                    <div id="deleteModal{{ Schedule.deliveryId }}" class="modal" data-keyboard="false" data-backdrop="static">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">{{ 'postcarrier.schedule.modal_del_message'|trans }}</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-ec-regular" data-dismiss="modal">
                                                                        {{ 'admin.common.cancel'|trans }}
                                                                    </button>
                                                                    <button type="submit" class="btn btn-ec-delete" onclick="document.form1.action = '{{ url('plugin_post_carrier_stepmail_delete', { id: Schedule.deliveryId }) }}'">
                                                                        {{ 'admin.common.execute'|trans }}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row justify-content-md-center mb-4">
                                {% if pagination.totalItemCount > 0 %}
                                    {% include "@admin/pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'plugin_post_carrier_stepmail_page' } %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card rounded border-0">
                        <div class="card-body p-4">
                            <div class="text-center text-muted">{{ 'admin.postcarrier.history.notice_no_data'|trans }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
