{#
This file is part of PostCarrier for EC-CUBE

Copyright(c) IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{%- extends 'Form/form_div_layout.twig' -%}

{%- block _entry_postcarrier_flg_row -%}
    <dl>
        <dt>
            {{- form_label(form) -}}
        </dt>
        <dd>
            {# form.parent.vars.valid で自分以外のフォーム入力エラーを検査できる #}
            {% if (app.request.get('mode') == 'confirm' and form.vars.valid and form.parent.vars.valid)  %}
                {% for choice in form.vars.choices %}
                    {% if choice.data == form.vars.data %}
                        {{- choice.label|trans -}}
                    {% endif %}
                {% endfor %}
                {{- form_widget(form, {type : 'hidden'}) -}}
            {% else %}
                {# ec-radio CSS が定義されていないため ec-checkbox を指定 #}
                <div class="ec-checkbox{{ has_errors(form) ? ' error' }}">
                    {{- form_widget(form) -}}
                    {{- form_errors(form) -}}
                </div>
            {% endif %}
        </dd>
    </dl>
{%- endblock _entry_postcarrier_flg_row -%}
