{% extends 'default_frame.twig' %}

{% block main %}
<div class="pc">
    <div class="ec-role">
        <div class="center-4-imgs">
            <div class="with-page">
                <img src="{{ asset('assets/img/top/f1_top.png') }}" />
            </div>
            <p class="add-check-normal">
            厳しい世の中ではあるけれど、ラッキーなのは「さまざまな稼ぎ方」ができるようになったこと。<br>
            これまで物理的、時間的、金額的にあきらめていたことに、手が届くようになったんです。<br>
                <br>
            家事、育児、介護…お金にかえられないけどとても大事な仕事です。<br>
            働きたくても働きに出られない人もいます。<br>
                <br>
            それでもやっぱり「お金を稼ぐ」ことって、その金額に関わらず、その人に自信と少しの余裕、そして未来への元気をもたらしてくれます。<br>
                <br>
            私たち「アパレル卸問屋.com」は、あなたにそんな「かせぐよろこび」を知ってほしいと心から思っています。<br>
            </p>
            <div class="with-page">
                <img src="{{ asset('assets/img/top/f1_middle.png') }}"  /><br>
            <a href="#manga"><img class="strange" align="right" src="https://img21.shop-pro.jp/PA01402/886/etc/%B7%D0%B8%B3%BC%D4%A4%CF%A4%B3%A4%C1%A4%E9.png?cmsp_timestamp=20180910105539"></a>
            </div>
            <div class="with-page">
                <img src="{{ asset('assets/img/top/f1_middle_1.png') }}"  /><br>
                <img src="{{ asset('assets/img/top/f1_middle_2.png') }}"  /><br>
                <img src="{{ asset('assets/img/top/f1_middle_3.png') }}"  /><br>
                <img src="{{ asset('assets/img/top/f1_middle_4.png') }}"  /><br>
                <img src="{{ asset('assets/img/top/f1_middle_5.png') }}"  /><br>
            </div>


        </div>
    </div>
    <div class="ec-role">
        <div class="site-name-no-bottom"><img src="{{ asset('assets/img/top/f1_site_name_1.png') }}"  /></div>
        <div class="center-4-imgs">
            <p class="add-check-normal">
                <span class="text-red-bold">初心者のおすすめの人気商品！！</span><br>
            </p>
        </div>
        <div class="top-main">
            <a href="https://secure.shop-pro.jp/?mode=mailmaga&shop_id=PA01402886&_ga=2.88442203.1986388440.1630719917-2107182036.1630514608" target="_blank">
                <img src="{{ asset('assets/img/top/top_main_2.jpg') }}" />
            </a>
        </div>
        <div class="center-3-imgs">
            <a href="{{ url('homepage') }}?mode=cate&category_id=1" target="_blank">
                <img src="{{ asset('assets/img/top/top_main_cat_1.jpg') }}" />
            </a>
            <a href="{{ url('homepage') }}?mode=cate&category_id=5" target="_blank">
                <img src="{{ asset('assets/img/top/top_main_cat_5.jpg') }}" />
            </a>
            <a href="{{ url('homepage') }}?mode=cate&category_id=7" target="_blank">
                <img src="{{ asset('assets/img/top/top_main_cat_7.jpg') }}" />
            </a>
        </div>
        <div class="center-4-imgs">
            <p class="add-check-normal">
                <span class="text-red-bold">まずはこれらの商品で気軽にトライ！クリックして詳細をどうぞ
            </span><br>
            </p>
        </div>

    </div>
    <div class="ec-role">
        <div class="site-name-no-bottom" id="manga"><img src="{{ asset('assets/img/top/f1_site_name_2.png') }}"  /></div>
        <div class="center-4-imgs">
            <div class="with-page">
                <img src="{{ asset('assets/img/top/f1_middle_6.png') }}"  /><br><br>
            </div>
            <p class="add-check-normal">
                <span class="text-bold">まだまだ商品たくさん！稼げるコツも！詳しくはHPへ</span>
            </p>
        </div>
        <div class="center-33-imgs">
            <ul>
                <li>
                    {% set Page_8 = repository('Eccube\\Entity\\Page').getPageByRoute('f8') %}
                    <a href="{{ url('homepage') }}?mode={{Page_8.url }}"  target="_blank">
                        <img src="{{ asset('assets/img/top/f1_to_f8.png') }}">
                    </a>
                        
                </li>
                <li>
                    <a href="{{ url ('homepage') }}" target="_blank">
                        <img src="{{ asset('assets/img/top/f1_to_top.jpg') }}">
                    </a>
                        
                </li>
                <li>
                    <a href="https://shoichi.co.jp/" target="_blank">
                        <img src="{{ asset('assets/img/top/f1_to_sochi.png') }}">
                    </a>
                        
                </li>          
            
            </ul>
        </div>

    </div>
</div>
<div class="sp">
    <div class="ec-role" style="padding:0">
        <div class="center-4-imgs">
            <div class="with-page">
                <img src="{{ asset('assets/img/top/f1_sp_top.png') }}" />
            </div>
            <a href="#manga"><img alt="" src="{{ asset('assets/img/top/f1_sp_middle_1.png') }}" /></a><br><br>
            <a href="#keikensha"><span class="text-red-bold">【経験者の方はこちらをCLICK】</span></a><br><br>
            <img alt="" src="{{ asset('assets/img/top/f1_sp_middle_2.png') }}">
            <div style="text-align:center"><span class="text-red-bold"><strong>初心者おすすめの人気商品！！</strong></span></div><br>
            <a href="{{ url('homepage') }}?mode=cate&category_id=2"><br>
                <img src="{{ asset('assets/img/top/f1_sp_middle_3.png') }}" alt="～ちちんぷいぷい放映セット！～ヤフオク・メルカリ転売もOK★転売お試し 20点セット＠5000円 ■海外ブランド新古品詰め合わせ福袋" class="show mar_auto mar_b_10"><br>
            </a>
            <br>
            <a href="{{ url('homepage') }}?mode=cate&category_id=2"><br>
                <img src="{{ asset('assets/img/top/f1_sp_middle_4.png') }}" alt="～【ボトムのみ】ちちんぷいぷい放映セット！～■人気の子供服！ヤフオク・メルカリ転売もOK★転売 20点福袋5,000円 ■海外ブランド子供服新古品詰め合わせ福袋" class="show mar_auto mar_b_10" <="" a=""><br>
                    <div style="text-align: center;"><span style="font-size:18px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>まだまだ商品たくさん！<br>稼げるコツも！詳しくはHPへ</strong></span></span></div><br>
            </a>
            <a href="{{ url('homepage') }}?mode=f8">
                <img class="w-420" alt="" src="{{ asset('assets/img/top/f1_sp_middle_5.png') }}">
            </a>
            <br><br>
            <a href="{{ url('homepage') }}">
                <img class="w-420" alt="" src="{{ asset('assets/img/top/f1_sp_middle_6.png') }}">
            </a><br><br>
            <a id="manga" name="manga"></a>
            <a href="https://shoichi.co.jp/" target="_blank">
                <img class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_7.png') }}" alt="在庫処分サービスサイトShoichi">
            </a>
            <br><br>
            <img alt="" src="{{ asset('assets/img/top/f1_sp_middle_75.png') }}"><br><br>
            <div style="text-align: center;"><strong>専業主婦でも、育児で忙しくても大丈夫！<br>スキマ時間で月3万のおこづかい！</strong></div>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_8.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_9.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_10.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_11.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_12.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_13.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_14.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_16.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_17.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_18.png') }}"><br><br>
            <img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_19.png') }}">
            <a href="{{ url('homepage') }}"><img alt="" class="w-420" src="{{ asset('assets/img/top/f1_sp_middle_20.png') }}"></a>
        </div>
    </div>
</div>

{% endblock %}