{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">中国広州卸売市場アパレル仕入れ開始！！<br>
１番お得で安心！</h1></div>
    <div class="center-4-imgs">
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f139_top.jpg') }}" />
        </div>
    </div>
    <div class="center-4-imgs">
        <div class="explanation">
        <br>
        <span>
        <strong>1,【最高品質】広州自社工場で検品してから輸入。品質安全。<br>
            2,【無在庫◎】小ロットで仕入れ可能。再発注、在庫確認もOK。<br>
            3,【初期投資】信用できる中国現地スタッフを探す必要なし！<br>
            4,【コスト◎】海外送金手数料負担ゼロ。現地に行く費用ゼロ。<br>
            5,【誰でも簡単】製品仕入れの経験や知識は一切不要！欲しい商品を選ぶだけ！<br>
            6,【加工OK】激安でオリジナルタグへの付け替えなども可能！
        </strong></span>
        <br><br>
        </div>
    </div>
    <div class="center-4-imgs">
        <div class="top-img">
            <a href="{{ url('product_list') }}?category_id=1">
                <img src="{{ asset('assets/img/top/cat_10.jpg') }}"  />
            </a>
        </div>
        <span class="add-check">↑商品続々追加中！今すぐCHECK！！</span>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">■広州卸売市場の魅力</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        広州卸売市場とは中国の広州市にある広東省最大の卸売市場です。<br>
        日本からは広州国際空港まで約４時間、そこから広州市内まで約１時間の場所にあります。<br>
        広州は製造業の工場、卸問屋が多数集まり広州周辺の街は製造業がさかんで、<br>
        これらの街でつくられた商品が広州の卸市場に集結します。<br>
        <span class="text-bold">レディース服なら広州が中国No1</span>です。<br>
        現地の卸市場は、まさにこれから<span class="text-bold">世界中で売れる“トレンドのかわいい”ものを一足早く並べているので、<br>
        これからどんなものが流行るのか、今どんなものが売れているのかも見えるので仕入れ商品に差をつける</span>ことができます。<br>
        その上<span class="text-red-bold">「安い・小ロット・高品質」</span>が揃っているので、<br>
        <span class="text-red-bold">輸入転売ビジネスとしても少ない資本で仕入れることができる</span>ため、初めての方にも人気となっています。<br>
        </p>
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f139_middle.jpg') }}"  />
        </div>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">■中国広州卸売市場からの仕入れ方法</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        広州卸市場から買い付けをする方法は主に下記の２つです。
        </p>
        <p class="add-check-normal">
            <span style="text-decoration: underline;">１．自分で広州卸市場へ行き買付けをする</span><br>
            実際に広州卸市場に行って仕入れる方法です。<br>
            中国語ができるという人は少ないと思いますので現地でアテンドをつけて、<br>
            いくつかサンプル買いをして広州卸市場を回り仕入れます。<br>
        </p>
        <p class="add-check-normal">
            <span style="text-decoration: underline;">２．中国広州の買い付けを代行依頼する</span><br>
            中国へ行く時間や資金、海外に出向くのが不安という人も多いと思います。<br>
            そういう方は中国広州現地の仕入れ代行業者を使います。<br>
            代行業者に手数料を支払い、商品を発注、支払い、荷物受け取り、日本への発送などを一貫して依頼します。<br>
        </p>
        <div class="">
            <img src="{{ asset('assets/img/top/f139_middle_1.jpg') }}"  />
        </div>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">■アパレル卸問屋.comで仕入れるメリット</div>
    <div class="center-4-imgs">
        <div class="">
            <img src="{{ asset('assets/img/top/f139_middle_2.jpg') }}"  />
        </div>
        <p class="add-check-normal">
            <span>これまでのリスクを踏まえ、”アパレル卸問屋.com”では広州に自社工場を構えているため、<br>
            現地でしっかり検品を行った商品のみをお客様のもとにお届けできます。<br>
            そのため<span class="text-red-bold">手間やリスクを負うことなく安心して商品を仕入れることが可能</span>です。<br>
                <br>
            また、小ロット（5枚～）でご注文頂けるので、在庫を抱えてしまうといった不安もなく、お試し感覚で商品の仕入れが可能です。<br>
            売れ筋商品の追加発注も自身で行うよりスムーズなので販売機会を逃すなどのチャンスロスも防げます。<br>
        </p>
        <div class="explanation">
        <span>
        <strong>1,【最高品質】広州自社工場で検品してから輸入。品質安全。<br>
            2,【無在庫◎】小ロットで仕入れ可能。再発注、在庫確認もOK。<br>
            3,【初期投資】信用できる中国現地スタッフを探す必要なし！<br>
            4,【コスト◎】海外送金手数料負担ゼロ。現地に行く費用ゼロ。<br>
            5,【誰でも簡単】製品仕入れの経験や知識は一切不要！欲しい商品を選ぶだけ！<br>
            6,【加工OK】激安でオリジナルタグへの付け替えなども可能！
        </strong></span>
        </div>
        <p class="add-check-normal">
            <span>商品リサーチ・価格交渉・商品検品・出荷作業・不良品交換作業まで全てを行った上で商品をご提供致しますので、<br>
           <span class="text-red-bold">「ノーリスク、低コスト」</span>で簡単に輸入転売商品のご提供が可能となっています。<br>
        </p>
        
    </div>
    <div class="center-4-imgs">
        <div class="top-img">
            <a href="{{ url('product_list') }}?category_id=10">
                <img src="{{ asset('assets/img/top/cat_10.jpg') }}"  />
            </a>
        </div>
        <span class="add-check">↑商品続々追加中！今すぐCHECK！！</span>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">合わせて読みたい記事</div>
    <div class="center-4-imgs">
        <div class="with-page">
            {% set Page_168 = repository('Eccube\\Entity\\Page').getPageByRoute('f_con_168') %}
            <a href="{{ url('user_data', { route:Page_168.url }) }}">
            ■{{ Page_168.name }}
            </a>
        </div>
        <div class="with-page">
            {% set Page_171 = repository('Eccube\\Entity\\Page').getPageByRoute('f_con_171') %}
            <a href="{{ url('user_data', { route:Page_171.url }) }}">
            ■{{ Page_171.name }}
            </a>
        </div>
        <div class="with-page">
            {% set Page_172 = repository('Eccube\\Entity\\Page').getPageByRoute('f_con_172') %}
            <a href="{{ url('user_data', { route:Page_172.url }) }}">
            ■{{ Page_172.name }}
            </a>
        </div>
        <div class="with-page">
            {% set Page_170 = repository('Eccube\\Entity\\Page').getPageByRoute('f_170') %}
            <a href="{{ url('user_data', { route:Page_170.url }) }}">
            ■{{ Page_170.name }}
            </a>
        </div>
    </div>
</div>
{% endblock %}