{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
<div class="site-name">副業で月3万稼ぐ！アパレル卸問屋はこう使う【サラリーマン編】</div>
    <div class="center-4-imgs">
        <div class="with-page">
            <img class="auto" src="{{ asset('assets/img/top/f1_middle.png') }}"  /><br>
        </div>
        <div class="with-page">
            <img class="auto" src="{{ asset('assets/img/top/f15_middle_1.png') }}"  /><br>
            <img class="auto" src="{{ asset('assets/img/top/f15_middle_2.png') }}"  /><br>
            <img class="auto" src="{{ asset('assets/img/top/f15_middle_3.png') }}"  /><br>
            <img class="auto" src="{{ asset('assets/img/top/f15_middle_4.png') }}"  /><br>
            <img class="auto" src="{{ asset('assets/img/top/f15_middle_5.png') }}"  /><br>
            <img class="auto" src="{{ asset('assets/img/top/f15_middle_6.png') }}"  /><br>
            <img class="auto" src="{{ asset('assets/img/top/f15_middle_7.png') }}"  /><br>
        </div>

    </div>
</div>
<div class="ec-role">
    <div class="site-name-no-bottom"><img src="{{ asset('assets/img/top/f1_site_name_1.png') }}"  /></div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
            <span class="text-red-bold">初心者のおすすめの人気商品！！</span><br>
        </p>
    </div>
    <div class="top-main">
        <a target="_blank" href="https://secure.shop-pro.jp/?mode=mailmaga&shop_id=PA01402886&_ga=2.88442203.1986388440.1630719917-2107182036.1630514608">
            <img src="{{ asset('assets/img/top/top_main_2.jpg') }}" />
        </a>
    </div>
    <div class="center-3-imgs">
        <a href="{{ url('homepage') }}?mode=cate&category_id=1" target="_blank">
            <img src="{{ asset('assets/img/top/top_main_cat_1.jpg') }}" />
        </a>
        <a href="{{ url('homepage') }}?mode=cate&category_id=5" target="_blank">
            <img src="{{ asset('assets/img/top/top_main_cat_5.jpg') }}" />
        </a>
        <a href="{{ url('homepage') }}?mode=cate&category_id=7" target="_blank">
            <img src="{{ asset('assets/img/top/top_main_cat_7.jpg') }}" />
        </a>
    </div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
            <span class="text-red-bold">まずはこれらの商品で気軽にトライ！クリックして詳細をどうぞ
        </span><br>
        </p>
    </div>

</div>
<div class="ec-role">
    <div class="site-name-no-bottom"><img src="{{ asset('assets/img/top/f1_site_name_2.png') }}"  /></div>
    <div class="center-4-imgs">
         <div class="with-page">
            <img src="{{ asset('assets/img/top/f1_middle_6.png') }}"  /><br><br>
        </div>
        <p class="add-check-normal">
            <span class="text-bold">まだまだ商品たくさん！稼げるコツも！詳しくはHPへ</span>
        </p>
    </div>
    <div class="center-33-imgs">
        <ul>
            <li>
                {% set Page_8 = repository('Eccube\\Entity\\Page').getPageByRoute('f8') %}
                <a href="{{ url('homepage') }}?mode={{Page_8.url }}"  target="_blank">
                    <img src="{{ asset('assets/img/top/f1_to_f8.png') }}">
                </a>
                    
            </li>
            <li>
                <a href="{{ url ('homepage') }}" target="_blank">
                    <img src="{{ asset('assets/img/top/f1_to_top.jpg') }}">
                </a>
                       
            </li>
            <li>
                <a href="https://shoichi.co.jp/" target="_blank">
                    <img src="{{ asset('assets/img/top/f1_to_sochi.png') }}">
                </a>
                     
            </li>          
           
        </ul>
    </div>

</div>

{% endblock %}