{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">コロナにも負けない！ アパレル海外取引ノウハウ<br>
～仕入れの視点～</h1></div>
    <div class="center-4-imgs">
         <div class="with-page">
            <img class="auto" src="{{ asset('assets/img/top/f168_top.jpg') }}"  /><br>
        </div>
        <div class="site-name">アパレルビジネスは海外取引が武器</div>
        <p class="add-check-normal">
        コロナの影響を受けている業界は多いですが、アパレルでも海外取引を活用することで、 負けないビジネスを実現することができます。 大切なのは仕入れで、やはりコストを抑えて少しでも安く、そしてトレンドのニーズにマッチする商品をいち早く確保することがポイントになるでしょう。移り変わりが激しい業界は特に、トレンドの変化やニーズの読みが重要ですから、そうした分野に強い海外取引が活用できると武器になります。<br>
        <a class="dark-blue-bold" href="https://www.wwdjapan.com/articles/1180600" target="_blank"><u>→コロナから1年 中国ファッション業界に起きた「7つの変化」 上海在住コンサルが報告</u></a><br>
        </p><br>
       
    </div>
</div>
<div class="ec-role">
    <div class="site-name">海外仕入れのメリットデメリット</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        国内での仕入れは言葉の壁がない分、割と活用しやすいので定番といえば定番ですがコストに期待しにくいのが難点です。 対する海外取引は選択肢が多く、更に安く仕入れられることが多いのが魅力です。<br>
        勿論、取り扱う商品の作りや質を確認したり、信頼できる相手と契約して取引することが大前提となります。<br>
        近年はオンライン対応の卸サイトが充実しているので、自宅に居ながらでもアパレルビジネスを始めたり取り組むことができます。その中でも海外仕入れのメリットはいち早く流行の商品を仕入れることができ、何より価格が抑えられる点がポイントです。とはいえ、相手が海外だと英語を始めとした外国語が必要になるので、そこはネックになり得るでしょう。<br>
        <a class="dark-blue-bold" href="https://cilel.jp/blog/312/" target="_blank"><u>→中国輸入の基礎知識<br>輸入ビジネスの本当の魅力！メリットとデメリットをわかりやすく解説</u></a><br>
        </p><br>       
    </div>
</div>
<div class="ec-role">
    <div class="site-name">アパレル業界におけるコロナの影響</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        コロナ渦だと、<span class="text-red-bold">海外はおろか国内ですら直接買い付けが難しいです。</span><br>
        その為、実店舗を経営している人にとっては先行きが不透明だったり、利益が減って苦しい状況が続いている人もいると思われます。<span class="text-bold">本気でコロナに負けずアパレルで生き残るには、販路の拡大と商品の仕入れがポイント</span>になります。<br>
        </p><br>       
    </div>
</div>
<div class="ec-role">
    <div class="site-name">コロナ渦における仕入れの策</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        安く安定的に在庫を確保したり、トレンドに関する情報に早く気がつきたいなら、海外取引で長く付き合える相手を探すのが近道です。海外に拠点を置く卸業者は、一般的に現地や日本以外のトレンドに詳しい傾向ですが、日本市場に注目してトレンドに対応した商品を取り扱う業者もあります。<br>
        狙い目なのは日本向けにアパレル商品を提供している卸業者で、<span class="text-red-bold">日本語による意思疎通</span>が可能な卸サイトです。<br>
        当然ですが、一般的な通販サイトとは異なり、対等な関係で取引に臨む必要があります。<br>
        自社の商品を提供しているサイトと、他社の商品を扱っているサイトがありますから、違いを理解して活用したいところです。 ただし、個人だと事業であっても直接取引が難しいサイトも存在するので、個人事業主であれば最初に要確認です。 個人と取引しない卸業者でも、仲介を経由することで仕入れできる場合があります。<br>
        <a class="dark-blue-bold" href="https://senken.co.jp/posts/import-specialty-store-coronavirus" target="_blank"><u>→コロナ禍でどうする？インポート専門店の買い付けの現状と対応策</u></a><br>
        </p><br> 
        <div class="top-img">
            <img class="auto" src="{{ asset('assets/img/top/f168_middle.jpg') }}"  /><br>
        </div>      
    </div>
</div>
<div class="ec-role">
    <div class="site-name">海外取引は時間かけることで成立する</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        また、世界規模で事業を展開している卸業者であれば、世界的なトレンドに敏感ですから、日本でこれから流行ると思われるアパレル商品を知っています。 つまりこういう相手と出会い味方に付けることが重要で、コロナにも負けないビジネスの土壌作りに繋がることになります。 信頼関係は一朝一夕で築けるものではありませんから、少しずつ段階的に、着実に信頼してもらえる関係を目指す必要があります。<br>
        この繰り返しと継続が大切ですし、時間が掛かるので<span class="text-red-bold">コロナ渦が長く続く可能性を考えると早めに始めることが大事</span>です。<br>
        </p><br>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">コロナに負けない関係性の強化</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        単なる発注と受注の関係だと、それ以上でもそれ以下でもありませんから、商品のカスタマイズに関するアドバイスを尋ねたり、現地で最先端のトレンドについて聞いてみるのも良いでしょう。このように、継続して発注や質問を繰り返すうちに、相手はお得意さんとして見てくれることになります。そこから先は関係の強化に時間が必要ですが、続ける価値は十分にあるはずです。ただ、相手が1社のみだと扱う商品の幅が狭まったり、状況が変化した時に対応が難しくなるので、並行して複数社と海外取引に取り組むことをおすすめします。<br>
        </p><br>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">まとめ</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        海外アパレルを扱う日本の卸サイトを利用し、慣れてきたら海外の卸業者と直接的に取引をするというのも選択肢のひとつ。 中間マージンが省けますし、取引相手との距離感が縮まりますから、卸サイトでは聞いてもらえないような要望に応えてくれることに期待も持てます。<br>
        とはいえ、これまで述べた全てを確立するには、現地との連携から時間もコストも想像以上に要することになります。<br>
        コロナ渦が騒がれるこのご時世ではより円滑に進まない事も少なくはありません。<br>
        </p><br>
        <p class="add-check-normal">
        ここまでを踏まえた上で、<a href="{{ url('homepage') }}">アパレル卸問屋.com</a> なら 現地スタッフ在中、<span class="text-red-bold">現地に自社工場があるので上記で述べたノウハウや無駄なコストは全て不要！個人ショップをいち早くスタートさせることが可能</span>ですので<br>
        <span class="dark-blue-normal">・個人での仕入先開拓が難しい</span><br>
        <span class="dark-blue-normal">・時間をかけずに手軽に出来る仕入れ先がほしい</span><br>
        そんな方は是非<a href="{{ url('homepage') }}">アパレル卸問屋.com</a> での仕入れをご検討ください。<br>
        </p><br>
        <div class="text-center-img">
            <a class="dark-blue-bold" href="{{ url('homepage') }}?mode=f139">最先端のカワイイ商品が勢ぞろい！<br>中国アパレル代行仕入れ！アパレル卸問屋.com 
            <br><img src="{{ asset('assets/img/top/f168_middle_1.jpg') }}" /><br></a><br>            
        </div>    
    </div>
</div>
<div class="ec-role">
    <div class="site-name">合わせて読みたい記事</div>
    <div class="center-4-imgs">
        <div class="with-page">
            {% set Page_171 = repository('Eccube\\Entity\\Page').getPageByRoute('f171') %}
            <a href="{{ url('homepage') }}?mode={{Page_171.url }}">
            ■{{ Page_171.name }}
            </a>
        </div>
        <div class="with-page">
            {% set Page_172 = repository('Eccube\\Entity\\Page').getPageByRoute('f172') %}
            <a href="{{ url('homepage') }}?mode={{Page_172.url }}">
            ■{{ Page_172.name }}
            </a>
        </div>
        <div class="with-page">
            {% set Page_170 = repository('Eccube\\Entity\\Page').getPageByRoute('f170') %}
            <a href="{{ url('homepage') }}?mode={{Page_170.url }}">
            ■{{ Page_170.name }}
            </a>
        </div>
    </div>
</div>

{% endblock %}