{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">メルカリやってみた</h1></div>
    <div class="center-4-imgs">
         <div class="with-page">
            <img class="auto" src="{{ asset('assets/img/top/f31_top.jpg') }}"  /><br>
        </div>
        <p class="add-check-normal">
        はじめまして！アンと申します。<br>
        まったくの初心者ですが、アパレル卸問屋.comで洋服を仕入れてメルカリで売ってみた体験談をお話します。<br>
        めっちゃ初心者なので、わからないことだらけで、手探り状態でした。<br>
        でも、1回売れたらコツをつかめたので、みなさんも頑張ってください！<br>
        </p><br>
        <p class="add-check-normal">
        事の発端は…<br>
        友人から、ネットで安く洋服仕入れてメルカリで売ったらお小遣い稼ぎになる！と聞いたことから始まります。<br>
        友人もメルカリは買ったことあるけど売ったことないと言うので、情報通のJ先輩に相談してみました。<br>
        J先輩はレディースアパレルのネットショップをしていたことがあるので、そのあたりの事情に詳しい方です。<br>
        アパレル卸問屋.comもJ先輩から教えてもらいました。<br>
        個人仕入れなら使いやすいし、安いからとオススメしてもらいました。あと、商品が全部新品！<br>
        私はちょっと潔癖なので、他人が着た服は抵抗あるので、これはいいですよね。<br>
        </p><br>
        
    </div>
</div>
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">商品仕入れ</h1></div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        まずは仕入れです。<br>
        アソートを買ったらいいと言われたので、アソートを選びます。<br>
        <a href="{{ url('homepage') }}?mode=cate&category_id=11">アソート商品リンク</a><br><br>
        1点あたり300円です！安い！<br>
        初回限定のお試しアソートもありましたよ。<br><br>
        2日後には届きました。<br>
        </p><br>
         <div class="top-img">
            <img class="auto" src="{{ asset('assets/img/top/f31_middle.jpg') }}" /><br>
        </div>
        <br>
        <p class="add-check-normal">
        はじめまして！アンと申します。<br>
        まったくの初心者ですが、アパレル卸問屋.comで洋服を仕入れてメルカリで売ってみた体験談をお話します。<br>
        めっちゃ初心者なので、わからないことだらけで、手探り状態でした。<br>
        でも、1回売れたらコツをつかめたので、みなさんも頑張ってください！<br>
        </p><br>
        <p class="add-check-normal">
        すごい量！そして、可愛い服ばっかり！<br>
        定価で1万円超えの雑誌に載ってたワンピが何枚も入ってました。<br>
        ちなみに、何点か自分で着てます。1枚300円で服が買えるならお得ですよね～！<br>
        </p><br>
        <p class="add-check-normal">
        商品を出品するので、写真撮影します。<br>
        </p><br>
        <div class="with-page">
            <img class="auto" src="{{ asset('assets/img/top/f31_middle_1.jpg') }}"  /><br>
        </div>
        <br>
        <p class="add-check-normal">
        写真撮影は一気に撮ったら1時間位で終わりました。<br>
        </p><br>
        
    </div>
</div>
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">出品</h1></div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        いよいよ出品！<br>
        商品の写真と商品名、商品の説明を入力します。<br>
        </p><br>
        <img class="align-left" src="{{ asset('assets/img/top/f31_middle_2.jpg') }}"  /><br>
        <br>
        <p class="add-check-normal">
        写真は4枚載せれます。<br>
        商品名はタグを見て入力しました。ライトリップストップショートブルゾンとか意味わからんけど…タグに書いてあるし。<br>
        商品の説明は1000文字以内となっています。<br>
        </p><br>
        <p class="add-check-normal">
        すごい量！そして、可愛い服ばっかり！<br>
        定価で1万円超えの雑誌に載ってたワンピが何枚も入ってました。<br>
        ちなみに、何点か自分で着てます。1枚300円で服が買えるならお得ですよね～！<br>
        </p><br>
        <p class="add-check-normal">
        ここまで入力すると、配送料の負担、配送の方法、が出てきます。<br>
        配送料の負担は出品者負担か購入者負担か選べます。出品者負担にしました。<br>
        とりあえず、一番安いゆうパケット（175円）を選択。<br>
        メルカリ便を選択したら相手に住所がばれないそうなので、メルカリ便を選択。<br>
        </p><br>
        <p class="add-check-normal">
        次は販売価格の入力です。<br>
        販売手数料が10%取られます。<br>
        商品によっては、メルカリが参考価格を教えてくれます。<br>
        商品検索したら、同じ商品が出品されていたので見てみます。<br>
        中古品なのに定価の60%～70%とか（中古品なのに高いな…）<br>
        新品だし、一律定価の半額設定にしてみました。<br>
        </p><br>
        <p class="add-check-normal">
        出品作業も1時間位で完了。<br>
        早く売れたらいいな～<br>
        </p><br>
        
    </div>
</div>
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">全然売れない！</h1></div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        ですが、数日待ってもまったく売れない！<br>
        いいねは付いてるのですが、買ってもらえません。<br>
        </p><br>
        <p class="add-check-normal">
        情報通のJ先輩に泣きついてみました。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：メルカリに洋服出品したんですけど全然売れない！（泣）売るコツ教えてください！<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：1回、商品名とか写真とか見せてもらえる？<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：（メルカリアカウント見せる）<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：まず写真。<span class="text-bold">暗くて服の色がわからない。バックスタイルも撮ったら？</span><br>
        あと、<span class="text-bold">部屋もっと片付けて撮影しなきゃ。自宅保管なのに商品も雑に扱ってそうに見えるよ。</span><br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：確かに…。実物と写真の色が違うんですよね～。部屋は、片付けます…。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：それから<span class="text-bold">商品名。検索で出てきやすいようにわかりやすく書かなきゃ。</span><br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：タグそのまんま書いたんですよ。私も書いてて意味わからなかった…。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：<span class="text-bold">商品説明ももっと丁寧に。触り心地とか、この時期オススメとか。</span>自宅保管でシワが付いてますけどすいませんくらい書いたら？<span class="text-bold">説明を丁寧に書いたら好感持ってもらえるよ。</span>あと、</span class="text-bold">メルカリは中古品も出品されてるから、新品なのは強み。説明に絶対書いたほうがいい。</span><br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：ふむふむ。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：あとは、価格。高いなぁ。<span class="text-bold">メルカリなら相場は１０００円～１５００円くらい</span>よ。値引き交渉のコメントは来ない？<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：１回来たんですけど、他より安くしてるのにと思って断った。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：メルカリは値切り交渉当たり前だから、コメント来たら希望価格まで下げて買ってもらえば？まず買ってもらえないと利益でないでしょ？<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：でも、中古品出してる人より安くしてるもん。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：他の出品者の価格をちゃんと見てるのはいいことだよ。<span class="text-bold">商品の価格帯を把握するのは大事</span>だから。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：えへへ。ありがとうございますぅ<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：ちなみにいくらで仕入れたの？<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：１枚３００円。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：<span class="text-bold">損しないところまで値下げ交渉に応じたらいい</span>んだよ。まず、<span class="text-bold">いくらで売ったら損しないかを把握するのが大事。</span>いくらかわかる？<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：わかりません！<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：<span class="text-bold">商品原価３２４円＋送料１７５円＋梱包資材代＋メルカリ販売手数料１０％</span><br>
        アンが仕入れた商品は、約６００円で売れたら、損はしないことになる。<br>
        逆に６００円以上なら利益なんだから、どんどん売って稼げばいいのよ。値段は下げたほうがいいね。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：儲けたいの～<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-orange-bold">J先輩</span>：まず売れないと始まらないでしょ！仕入れて売るの繰り返しで利益を出すものなの！商品が売れていい評価が付けば、売れやすくなるよ。<br>
        </p><br>
        <p class="add-check-normal">
        <span class="text-pink-bold">アン</span>：うぅ…改善してみますぅ<br>
        </p><br>
        <p class="add-check-normal">
        うだうだ言っても始まらない。売りたいので、先輩から言われた注意点を改善してみました。<br>
        価格も、一旦６０％オフにしました。数日待って、売れないので徐々に価格を下げていっていると…<br>
        <span class="text-red-bold">売れましたぁ～！</span><br>        
        </p><br>
        <img class="align-left" src="{{ asset('assets/img/top/f31_middle_3.jpg') }}"  /><br>
        <p class="add-check-normal">
        ３０００円以上で売却！１枚で利益２０００円以上！<br>
        全部売れたら、単純計算なら○万円の利益！<br>
        夢が広がりました。<br>
        </p><br>  
        <p class="add-check-normal">
        購入者の方から、丁寧なコメントが届きます。<br>
        すごくいい人そう。評価も高いし。<br>
        </p><br>  
    </div>
</div>
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">商品発送</h1></div>
    <div class="center-4-imgs">
    <p class="add-check-normal">
    早速梱包して商品発送です。<br>
    梱包資材はメルカリストアが安いそうなので、事前に仕入れていました。<br>
    オススメ梱包資材<br>
    送料無料になる2000円以上買ってみました。<br>
    メルカリポイントがあったので、それも使って安くGET！<br>
    </p><br> 
    <div class="with-page">
        <img class="auto" src="{{ asset('assets/img/top/f31_middle_4.jpg') }}"  /><br>
    </div>
    <p class="add-check-normal">
    ゆうパケットを利用するので、QRコード生成をして、ローソンで発送です！<br>
    ※ゆうパケット発送は郵便局かローソンか選べます。<br>
    ローソンのお姉さんに聞いたら、どうやったらいいか優しく教えてくれました。<br>
    発送通知を送って完了です。<br>
    </p><br> 
    <p class="add-check-normal">
    紆余曲折ありましたが、売れたら嬉しい。<br>
    これからも頑張ろうと思います！<br>
    </p><br> 
    </div>
</div>
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">初心者の方へのアドバイス</h1></div>
    <div class="site-name-no-bottom">◆商品写真</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        ●商品の魅力が伝わるように撮影<br>
        ●洋服の色がわかるような明るい写真<br>
        ●整理整頓してるところで撮影<br>
        </p><br> 
    </div>
    <div class="site-name-no-bottom">◆商品名・商品説明</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        ●わかりやすい・検索しやすい商品名<br>
        ●商品説明は丁寧に<br>
        ●新品であることを必ず書く<br>
        </p><br> 
    </div>
    <div class="site-name-no-bottom">◆配送・送料・梱包資材</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        ●厚みがなければゆうパケット175円が最安！<br>
        ●住所を相手に知られたくないならメルカリ便<br>
        ●梱包資材はメルカリストアで買ったら安い<br>
        </p><br> 
    </div>
    <div class="site-name-no-bottom">◆販売価格</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        ●商品の価格帯を把握する<br>
        ●メルカリは値切り交渉あり。商品の損益分岐点を把握しておくこと。<br>
        </p><br> 
    </div>
    <div class="site-name-no-bottom">◆メルカリ評価</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        ●商品が売れると購入者に評価してもらえる<br>
        ●評価が高いほうが商品が売れやすい<br>
        ●丁寧に連絡しておくと好感度大<br>
        </p><br> 
    </div>
</div>

{% endblock %}