{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="site-name"><h1 style="margin:0;font-weight:bold">なぜセット販売か？商品の一部だけの購入は可能？</h1></div>
    <div class="center-4-imgs">
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f9_top.jpg') }}" />
        </div>
    </div>
    <div style="text-align: center;"><strong><span style="font-size:14px;">アパレル卸問屋.com（本サイト）では1セットからの販売が基本となっております。 </span></strong></div>
    <br>
    <div class="center-4-imgs">
        <p class="add-check-normal">
        <img class="align-left"  src="{{ asset('assets/img/top/f9_middle.png') }}" >
        <strong>弊社は法人在庫処分の会社です。</strong><br>
        メーカー、企業様から買取しました、アパレル在庫商品にはカラー・サイズに当然偏りがあります。また商品ごとのカテゴリもそろってないごちゃ混ぜの状態で買取りすることも沢山あります。<br><br>
        弊社ではそれを仕分けして、分類を行い。商品ごとのカテゴリやサイズを合わせ調整する作業を行っております。<br><br>
        お客様のご希望のサイズ・カラーを１点ずつ販売してしまいますと、在庫のバランスが崩れてしまいます。 そのため在庫バランスが崩れないようアソートを組ませていただいております。<br>  
        </p><br>
    </div>




    <div class="center-4-imgs">
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f9_middle_1.jpg') }}" />
        </div>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">セット内容の変更について</div>
    <div class="center-4-imgs">
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f9_middle_2.jpg') }}" />
        </div>
        <p class="add-check-normal">
            また、セット内容の変更でございますが、既にセット組をされた状態で販売をしておりますので、セット内容を変更しての販売は対応致しかねます。 上記ご了承の上ご注文を頂きます様お願申し上げます。 大変申し訳ございませんが、商品の一部だけというご希望には添えかねます。<br>
        </p>
    </div>
</div>

<div class="ec-role">
    <div class="site-name">徹底したコスト削減で商品単価に反映します</div>
    <div class="center-4-imgs">
        <div class="with-page">
            <img class="auto" src="{{ asset('assets/img/top/f9_middle_3.jpg') }}" />
        </div>
        <p class="add-check-normal">
        上記の要望を受けれない理由もすべてコスト削減です。<br>
        <span class="text-bold">アパレル卸問屋.com　のコンセプトはどこよりも安い仕入れサイト！</span><br>
        商品価格が安いことが、何よりも重要だと思っており、<br>
        購入されたお客様が<span class="text-red-bold">弊社の商品で儲けていただくこと</span>が一番の願いです。<br>
        </p>
    </div>
</div>




<div class="ec-role">
    <div class="site-name">詳細記事はこちらから</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
            <br>
            <a target="_blank" href="https://在庫買取.jp/%e5%9c%a8%e5%ba%ab%e8%b2%b7%e5%8f%96/%e5%9c%a8%e5%ba%ab%e3%81%a8%e7%a8%8e%e9%87%91%e3%81%ae%e3%81%8a%e8%a9%b1%ef%bd%9eoem%e3%83%a1%e3%83%bc%e3%82%ab%e3%83%bc%e3%81%ae%e8%b2%b7%e5%8f%96%e4%ba%8b%e4%be%8b%ef%bd%9e.php"></a>●在庫と税金のお話～OEMメーカーの買取事例～<br>
            <a target="_blank" href="https://在庫買取.jp/%E5%9C%A8%E5%BA%AB%E8%B2%B7%E5%8F%96/%E3%82%A2%E3%83%91%E3%83%AC%E3%83%AB%E5%BA%97%E9%96%89%E9%8E%96%E3%81%AB%E4%BC%B4%E3%81%86%E5%9C%A8%E5%BA%AB%E8%B2%B7%E5%8F%96%E4%BA%8B%E4%BE%8B.php"></a>●アパレル店閉鎖に伴う在庫買取事例<br>
            <a target="_blank" href="https://在庫買取.jp/%e5%9c%a8%e5%ba%ab%e8%b2%b7%e5%8f%96/%e3%83%a1%e3%83%bc%e3%82%ab%e3%83%bc%e5%a4%a7%e9%87%8f%e8%a6%8b%e5%88%87%e3%82%8a%e3%82%a2%e3%83%91%e3%83%ac%e3%83%ab%e5%95%86%e5%93%81%e3%81%ae%e8%b2%b7%e5%8f%96%e4%ba%8b%e4%be%8b.php"></a>●メーカー大量見切りアパレル商品の買取事例<br><br>
        </p>
        
    </div>
</div>
<div class="ec-role">
    <div class="site-name">仕入れの価格がまず違います</div>
    <div class="center-4-imgs">
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f8_middle_1.jpg') }}" />
        </div>
        <p class="add-check-normal">
            通常の仕入れでは製造原価以下で仕入れることはなかなか難しいと思いますが<br>
            弊社ではそもそもの価格が違います。<br><br>
            そのため在庫処分会社として、仕入れが非常に強いため<span class="text-red-bold">非常に低価格での販売</span>が可能となっております。<br><br>
            また弊社でも大量の在庫品が入った際やなかなか売れない商品は在庫の管理コストを考えると、１円でもお客様に買っていただいたほうが、結果的にコストがかからないため、この激安価格でも販売が可能となっています。<br> <br>
            仕入れサイトとしてはかなり激安で商品が仕入れれるため、お客様の販売ルートや販売戦略によっては大きく利益が出せることがアパレル卸問屋.comでは可能です。<br>
        </p>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">徹底したコスト削減</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
            また <span class="text-bold">アパレル卸問屋.com</span>　では<span class="text-red-bold">セット販売のみ、セット販売の組み替えなどは行っておりません。</span><br><br>
            これもすべてコストカットで商品代金に反映するためです。<br><br>
            <span class="text-bold">アパレル卸問屋.com　のコンセプトはどこよりも安い仕入れサイト！</span><br>
            商品価格が安いことが、何よりも重要です！ <br>
            購入されたお客様が<span class="text-bold">弊社の商品で儲けていただくこと</span>が一番の願いです。<br>
        </p>
    </div>
</div>
{% endblock %}