{% extends 'default_frame.twig' %}

{% block main %}
<div id="delivery" class="ec-role">
    <div class="site-name">
        配送・送料について
    </div>
    <div class="center-4-imgs">
        <p class="text-title">
            佐川急便
        </p>
        <p class="text-con">
        商品ごとの個別送料をご確認ください<br>
        個別送料設定ない商品は880円にて送料加算でございます 
        </p>
    </div>
</div>
<div id="payment" class="ec-role">
    <div class="site-name">
        支払い方法について
    </div>
    <div class="center-4-imgs">
        <p class="text-title">
            クレジット
        </p>
        <p class="text-con">
        <img src="{{ asset('assets/img/top/f_pay_ship_1.gif') }}" />
        <img src="{{ asset('assets/img/top/f_pay_ship_2.gif') }}" />
        <img src="{{ asset('assets/img/top/f_pay_ship_3.gif') }}" />
        <img src="{{ asset('assets/img/top/f_pay_ship_4.gif') }}" />
        <img src="{{ asset('assets/img/top/f_pay_ship_5.gif') }}" />
        <br>
            お支払いは一括払いのみになります。 
 
        </p>
    </div>
    <div class="center-4-imgs">
        <p class="text-title">
        銀行振込
        </p>
        <p class="text-con">ペイペイ銀行 すずめ支店 普通 2489937 カ）ショウイチ<br>
        ※お振込みの際に売上IDの入力が必要となりますので、振込口座を明記したメールが届くまでご入金されないようお願い致します。<br>
        弊社別口座への入金が多発しております。管理が別部署のため、入金確認が大幅に遅れ、発送作業も遅れます。必ずメール受信後、記載の口座への入金をお願いします。<br>
 
        </p>
    </div>
    <div class="center-4-imgs">
        <p class="text-title">
        商品代引
        </p>
        <p class="text-con">代引き手数料　一律440円　別途発生致します。<br><br>
            【ご注意】<br>
            ・領収書<br>
            お客様に１円でも安く、１秒でも早く、商品をご提供するため、領収書は発行しておりません。<br>
            各お支払方法の支払明細や控えが代用となります。ご理解くださいませ。<br><br>
            ・消費者への直送<br>
            対応しております。<br>
        </p>
    </div>
    <div class="center-4-imgs">
        <p class="text-title">
        Amazon Pay
        </p>
        <p class="text-con">・Amazonポイントはご利用いただけません。<br>
        ・Amazonポイントは付与されません。<br>
        ・Amazonギフトカードはご利用いただけません。<br>
        ・フィーチャーフォンからのご利用はできません。 <br>
        </p>
    </div>
</div>
<div id="info" class="ec-role">
    <div class="site-name">
        特定商取引法に基づく表記
    </div>
    <div class="row">
        <div class="col">
            <div class="center-4-imgs">
                <p class="text-title">
                販売業者
                </p>
                <p class="text-con">株式会社Shoichi <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                運営統括責任者名
                </p>
                <p class="text-con">山本　昌一  <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                郵便番号
                </p>
                <p class="text-con">541-0054 <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                住所
                </p>
                <p class="text-con">大阪府大阪市中央区南本町２丁目６－番5号 ファースト船場ビル 301 <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                商品代金以外の料金の説明
                </p>
                <p class="text-con">販売価格とは別に配送料、代引き手数料、振込手数料を頂戴致します。 <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                申込有効期限
                </p>
                <p class="text-con">ご注文後5営業日以内といたします。 <br>ご注文後5営業日以内にご入金がない場合は、ご注文を自動的にキャンセルいたします。<br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                不良品
                </p>
                <p class="text-con">弊社商品の特性上、完品ではございません。 <br>返品には応じかねますのでご了承ください。  <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                販売数量
                </p>
                <p class="text-con">各商品ページにてご確認ください。  <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                引渡し時期
                </p>
                <p class="text-con">ご注文を受けてから最大3週間以内発送致します。  <br>※銀行振込でお支払いの場合、ご入金後3週間以内で発送致します。<br>
                    ※多数のご注文を頂いた場合は3週間以上頂くことがございます。 <br>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="center-4-imgs">
                <p class="text-title">
                お支払い期限
                </p>
                <p class="text-con">当方からの確認メール送信後5営業日以内となります。<br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                返品期限
                </p>
                <p class="text-con">受注確定メール送信後のキャンセルはお受けできません。<br>
                    弊社商品の特性上、完品ではございませんので返品には応じかねます。<br>
                    ご了承の上ご注文をお願い致します。 <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                返品送料
                </p>
                <p class="text-con">お客様都合でのご返品、長期不在などで返送されたお荷物を再送の際は<br>
                    再度送料をご負担頂きますようお願い致します。<br>
                        <br>
                            【代金引換受取拒否による請求】<br>
                            受取拒否の場合、当店は「往復送料」と「代引手数料」及び「梱包資材」等の損害が発生します。いかなる理由にかかわらず、「代引受取拒否」、「長期不在による保管期限切れ」により返送があった場合、弊社では「実費損害金額」を請求します。 
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                電話番号
                </p>
                <p class="text-con">メールでのご対応のみとなります <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                公開メールアドレス
                </p>
                <p class="text-con">apareruorosi01@gmail.com <br>
                </p>
            </div>
            <div class="center-4-imgs">
                <p class="text-title">
                ホームページアドレス
                </p>
            <p class="text-con"><a href="https://shoichi.co.jp/">https://shoichi.co.jp/</a> <br>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}