{% set C_HolidayList = repository('Customize\\Entity\\Holiday').getHoliday_1_List() %}
{% set C_Holiday_Week_List = repository('Customize\\Entity\\WeekHoliday').getHoliday_week_List() %}
{# {% set holidayList_week = repository('Customize\\Entity\\WeekHoliday').getList() %} #}
{# {% set C_HolidayList = ['09/10'] %} #}
{% macro calendar(holidayList, weekList, monthOffset) %}
    {% set day = date('first day of this month') %}
    {% if monthOffset %}
        {% set day = day|date_modify(monthOffset) %}
    {% endif %}
    {% set month = day|date('n') %}
    {% set year = day|date('Y') %}
    {% set day = day|date_modify('-' ~ day|date('w') ~ 'days') %}
    {% set today = date() %}
    <div>
        <table>
            <caption class="month">
                {{ year }}年 {{ month }}月
            </caption>
            <thead>
                <tr>
                    <th scope="col" title="日曜日">日</th>
                    <th scope="col" title="月曜日">月</th>
                    <th scope="col" title="火曜日">火</th>
                    <th scope="col" title="水曜日">水</th>
                    <th scope="col" title="木曜日">木</th>
                    <th scope="col" title="金曜日">金</th>
                    <th scope="col" title="土曜日">土</th>
                </tr>
            </thead>
            <tbody>
            {% for i in (0..5) %}
                <tr>
                    {% for j in (0..6) %}
                        {% if day|date('n') == month %}
                            {% set class = '' %}
                            {% if day|date('Y/m/d') in holidayList %}
                                {% set class = class ~ ' off' %}
                            {% elseif today == day %}
                                {% set class = 'today' %}
                            {% endif %}
                            
                          
                            {% if j in weekList %}
                                {% set class = class ~ ' off' %}
                            {% endif %}
                           
                            
                            <td class="{{ class }}">{{ day|date('j') }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        {% set day = day|date_modify('+1day') %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="note"><span>■</span> が定休日です。</p>
    </div>
{% endmacro %}
{% from _self import calendar %}
<div class="plgin_calender">
<div class="side-bar-content-title">営業日カレンダー</div>
    <div class="no-padding">
        {{ calendar(C_HolidayList, C_Holiday_Week_List,'- 1 month') }}
        <br>
        {{ calendar(C_HolidayList, C_Holiday_Week_List) }}
    </div>
    
</div>