{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Categories = repository('Eccube\\Entity\\Category').getList() %}
{% set CategoriesByItem = repository('Eccube\\Entity\\Category').getItemFindList() %}
{% macro tree(Category) %}
    {% from _self import tree %}
    <a href="{{ url('homepage') }}?mode=cate&category_id={{ Category.id }}">
        {{ Category.name }}
    </a>
    {% if Category.children|length > 0 %}
        <ul>
            {% for ChildCategory in Category.children %}
                <li>
                    {{ tree(ChildCategory) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{# @see https://github.com/bolt/bolt/pull/2388 #}
{% from _self import tree %}
<style>
    .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    }

    .accordion li:last-child .link { border-bottom: 0; }

    .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    }

    .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
    }
    .accordion li i.fa-chevron-right {
        right: 12px;
        left: auto;
        font-size: 16px;        
    }

    .accordion li.open .link { color: #b63b4d; }

    .accordion li.open i { color: #b63b4d; }

    .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    }

    /**
    * Submenu
    -----------------------------*/


    .submenu {
    display: none;
    background: #444359;
    font-size: 14px;
    }

    .submenu li { border-bottom: 1px solid #ccc; }

    .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-bottom:0!important;
    }

    .submenu a:hover {
    background: #b63b4d;
    color: #FFF;
    }
    .submenu .searchform {
        padding-top:10px;
        padding-bottom:10px;
    }
</style>
<script>
    $(function() {
        var Accordion = function(el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;
    
            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }
    
        Accordion.prototype.dropdown = function(e) {
            var $el = e.data.el;
                $this = $(this),
                $next = $this.next();
    
            $next.slideToggle();
            $this.parent().toggleClass('open');
    
            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }	
    
        var accordion = new Accordion($('#accordion'), false);
    });
    function validate(){

    var low = document.getElementById('sp-low');
    var high = document.getElementById('sp-high');
    var form = document.getElementById('sp-form');
    
    if(low.value != "" && high.value != ""){
        if(low.value > high.value){
            alert("下限値が上限値よりも大きい。");
            $('.bg-load-overlay').remove();            
            return false;
        }else{

            form.submit();
        }
    }else if(low.value == ""){
        alert("下限金額を入力してください。");
        $('.bg-load-overlay').remove();
        low.focus();
        return false;
    }else if(high.value == ""){
        alert("上限金額を入力してください。");
        high.focus();
        $('.bg-load-overlay').remove();
        return false;
    }
}
    
</script>
<div class="ec-headerCategoryArea">
    {# <div class="ec-headerCategoryArea__heading">ヘッダ</div> #}
    <div class="ec-itemNav">
        {# <ul class="ec-itemNav__nav ">
            <li>
                <a href="{{ url('homepage') }}">{{ 'ホーム'|trans }}</a>
            </li>
            <li><a title="支払・配送について" href="{{ url('homepage') }}?mode=sk" ><span>支払・配送について</span></a></li>
            <li><a title="お問い合わせ" href="{{ url('contact') }}" ><span>お問い合わせ</span></a></li>
            <li><a title="カートを見る" href="{{ url('cart') }}" ><span>カートを見る</span></a></li>
        </ul> #}
        <ul class="ec-itemNav__nav accordion" id="accordion">
            <li>
                <a class="link" href="{{ url('homepage') }}" >
                    <i class="fas fa-home fa-fw"></i> ホームへ戻る<i class="fas fa-chevron-right fa-fw"></i>
                </a>
            </li>
            <li>
                <a class="link" >
                    <i class="fas fa-list-ul fa-fw"></i> アイテムから探す<i class="fas fa-chevron-down fa-fw"></i>                   
                </a>
                <ul class="submenu">
                <li>
                    <a href="{{ url('homepage') }}?mode=cate&category_id=&name=">
                        全ての商品
                    </a>
                </li>
                {% for Category in CategoriesByItem %}
                    <li>
                        {{ tree(Category) }}
                    </li>
                {% endfor %}
                </ul>
            </li>
            <li>
                <a class="link">
                    <i class="fas fa-tags fa-fw"></i>価格から探す<i class="fas fa-chevron-down fa-fw"></i>
                </a>
                <div class="submenu">
                    <form id="form" method="get" onsubmit="return validate()" class="searchform" action="{{ url('homepage') }}">                        
                        <div class="ec-headerSearch__price">
                            <div class="ec-input">
                                <input type="hidden" name="mode" value="cate" />  
                                <input type="number" name="low_price" maxlength="50" min="0" id="sp-low" class="search-name" placeholder="円"><span class="text-white">~</span>
                                <input type="number" name="high_price" maxlength="50" min="0" id="sp-high" class="search-name" placeholder="円">
                            </div>
                            <button class="ec-headerSearch__price_btn" type="submit">
                                <div class="ec-icon">
                                    <img src="/eccube_shop/html/template/default/assets/icon/search-dark.svg" alt="">
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <a class="link" href="{{ url('homepage') }}?mode=sk" >
                    <i class="fa fa-question-circle fa-lg ml-1"></i> このショップについて<i class="fas fa-chevron-right fa-fw"></i>
                </a>
            </li>            
            <li>
                <a class="link" href="{{ url('contact') }}" >
                    <i class="fas fa-envelope fa-fw"></i> お問い合わせ<i class="fas fa-chevron-right fa-fw"></i>
                </a>
            </li>            
            <li>
                <a class="link" href="{{ url('cart') }}" >
                    <i class="fas fa-shopping-cart fa-fw"></i> {{ 'カートを見る'|trans }}<i class="fas fa-chevron-right fa-fw"></i>
                </a>
            </li>   
            {% if is_granted('ROLE_USER') %}
            <li>
                <a class="link" href="{{ url('mypage') }}" >
                    <i class="fas fa-user fa-fw"></i> {{ 'マイページ'|trans }}<i class="fas fa-chevron-right fa-fw"></i>
                </a>
            </li>  
                {% if BaseInfo.option_favorite_product %}
                <li>
                    <a class="link" href="{{ url('mypage_favorite') }}" >
                        <i class="fas fa-heart fa-fw"></i> {{ 'お気に入り'|trans }}<i class="fas fa-chevron-right fa-fw"></i>
                    </a>
                </li>  
                {% endif %}
                <li>
                    <a class="link" href="{{ url('logout') }}" >
                        <i class="fas fa-lock fa-fw"></i> {{ 'ログアウト'|trans }}<i class="fas fa-chevron-right fa-fw"></i>
                    </a>
                </li>  

            {% else %}
            <li>
                <a class="link" href="{{ url('entry_prem') }}" >
                    <i class="fas fa-user fa-fw"></i> {{ '新規会員登録'|trans }}<i class="fas fa-chevron-right fa-fw"></i>
                </a>
            </li>  
                {% if BaseInfo.option_favorite_product %}
                <li>
                    <a class="link" href="{{ url('mypage_favorite') }}" >
                        <i class="fas fa-heart fa-fw"></i> {{ 'お気に入り'|trans }}<i class="fas fa-chevron-right fa-fw"></i>
                    </a>
                </li>  
                {% endif %}
                <li>
                    <a class="link" href="{{ url('mypage_login') }}" >
                        <i class="fas fa-lock fa-fw"></i> {{ 'ログイン'|trans }}<i class="fas fa-chevron-right fa-fw"></i>
                    </a>
                </li> 
            {% endif %}
        </ul>



    </div>    
    
    
    <div class="ec-headerCategoryArea__heading">
        <p>{{ 'カテゴリ一覧'|trans }}</p>
    </div>
    <div class="ec-itemNav">
        <ul class="ec-itemNav__nav accordion" id="accordion">
        <li>
            <a href="{{ url('mypage_change') }}">
                <img src="{{ asset('assets/img/top/magazine.png') }}" />
            </a>
        </li>
        <li>
            <a href="{{ url('homepage') }}?mode=f139">
                <img src="{{ asset('assets/img/top/f139.jpg') }}" />
            </a>
        </li>
        {# {% for Category in Categories %} #}
            <li>
                {# {{ tree(Category) }} #}
                <a href="{{ url('homepage') }}?mode=cate&category_id=7">
                    <img src="{{ asset('assets/img/top/cat7.jpg') }}"  />
                    {# {{ Category.name }} #}
                </a>
            </li>
            <li>
                {# {{ tree(Category) }} #}
                <a href="{{ url('homepage') }}?mode=cate&category_id=2">
                    <img src="{{ asset('assets/img/top/cat2.jpg') }}"  />
                    {# {{ Category.name }} #}
                </a>
            </li>
            <li>
                {# {{ tree(Category) }} #}
                <a href="{{ url('homepage') }}?mode=cate&category_id=33">
                    <img src="{{ asset('assets/img/top/cat1.jpg') }}"  />
                    {# {{ Category.name }} #}
                </a>
            </li>
            <li>
                {# {{ tree(Category) }} #}
                <a href="{{ url('homepage') }}?mode=f17">
                    <img src="{{ asset('assets/img/top/f17.png') }}"  />
                    {# {{ Category.name }} #}
                </a>
            </li>
            <li>
                {# {{ tree(Category) }} #}
                <a href="https://auc1.net/" target="_blank">
                    <img src="{{ asset('assets/img/top/aucken.jpg') }}"  />
                    {# {{ Category.name }} #}
                </a>
            </li>
            <li>
                {# {{ tree(Category) }} #}
                <a href="https://zaikosokuho.com/" target="_blank">
                    <img src="{{ asset('assets/img/top/inventory.jpg') }}"  />
                    {# {{ Category.name }} #}
                </a>
            </li>
            {# <li>
                <form method="get" class="searchform" action="{{ url('product_list') }}">
                    <div class="ec-headerSearch__category">
                        <div class="ec-select ec-select_search">
                            <select name="category_id" class="category_id">
                            <option value="" selected="selected">全ての商品</option>
                            {% for Category in Categories %}    
                            <option value="{{ Category.id }}">{{ Category.name }}</option>
                            {% endfor %}
                    </select>
                
                        </div>
                    </div>
                    <div class="ec-headerSearch__keyword">
                        <div class="ec-input">
                            <input type="search" name="name" maxlength="50" class="search-name" placeholder="キーワードを入力">
                            <button class="ec-headerSearch__keywordBtn" type="submit">
                                <div class="ec-icon">
                                    <img src="{{ asset('assets/icon/search-dark.svg') }}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </li> #}
            {# {% for Category in Categories %}
                <li>
                    {{ tree(Category) }}
                </li>
            {% endfor %} #}

        </ul>
    </div>
</div>