{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-footerRole">
    <div class="ec-footerRole__inner">
        <ul class="ec-footerNavi">
            <li class="ec-footerNavi__link">
                <a href="{{ url('homepage') }}">{{ 'ホーム'|trans }}</a>
            </li>
             <li class="ec-footerNavi__link">
                <a href="{{ url('homepage') }}?mode=sk">{{ '支払・配送について'|trans }}</a>
            </li>
             <li class="ec-footerNavi__link">
                <a href="{{ url('homepage') }}?mode=sk#info">{{ '特定商取引法に基づく表記'|trans }}</a>
            </li>
             <li class="ec-footerNavi__link">
                <a href="{{ url('homepage') }}?mode=privacy">{{ 'プライバシーポリシー'|trans }}</a>
            </li>
            <li class="ec-footerNavi__link">
                <a href="{{ url('homepage') }}?mode=f11">{{ '会社概要'|trans }}</a>
            </li>
            
            <li class="ec-footerNavi__link">
                <a href="{{ url('contact') }}">{{ 'お問い合わせ'|trans }}</a>
            </li>
        </ul>
        <div class="ec-footerTitle">
            <div class="ec-footerTitle__logo">
                <span style="font-weight:normal">株式会社Shoichi</span>
            </div>
            {#<div class="ec-footerTitle__copyright">copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</div>#}
        </div>
    </div>
</div>