{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Page = repository('Eccube\\Entity\\Page').getPageByRoute('f165') %}
{% set recommendProducts = repository('Eccube\\Entity\\Product').getRecommendList() %}
{% set hitProducts = repository('Eccube\\Entity\\Product').getHitList() %}
<div class="ec-role">
    <div class="top-165">
        <a href="{{ url('homepage') }}?mode={{Page.url }}">
        <strong>{{ Page.name }}</strong>        
        </a>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">「儲かる問屋サイト　アパレル卸問屋.com」</div>
    <div class="top-main-2">
        <a href="{{ url('mypage_change') }}">
            <img src="{{ asset('assets/img/top/top_main_2.jpg') }}" />
        </a>
    </div>
    <div class="center-3-imgs">
        <a href="{{ url('homepage') }}?mode=cate&category_id=2" >
            <img src="{{ asset('assets/img/top/top_main_cat_1.jpg') }}" />
        </a>
        <a href="{{ url('homepage') }}?mode=cate&category_id=1" >
            <img src="{{ asset('assets/img/top/top_main_cat_5.jpg') }}" />
        </a>
        <a href="{{ url('homepage') }}?mode=cate&category_id=33" >
            <img src="{{ asset('assets/img/top/top_main_cat_7.jpg') }}" />
        </a>
    </div>
</div>
<div class="ec-role">
    <div class="site-name">毎月開催無料セミナーのお知らせ</div>
        <a href="https://shoichi.co.jp/info/setsumeikai.php" target="_blank">
            <img class="w-40" src="{{ asset('assets/img/top/ResaleSeminar.jpg') }}" />
        </a>
</div>
<div class="ec-role">
    <div class="site-name">新商品のお知らせはSNSから</div>
        <a href="https://www.facebook.com/%E3%82%A2%E3%83%91%E3%83%AC%E3%83%AB%E5%8D%B8%E5%95%8F%E5%B1%8B-198069337724749/?modal=admin_todo_tour" target="_blank">
            <img class="social" src="{{ asset('assets/img/top/FB.png') }}" />
        </a>
        <a href="https://twitter.com/com72482496" target="_blank">
            <img class="social" src="{{ asset('assets/img/top/tw.png') }}" />
        </a>
        <a href="https://www.instagram.com/appareloroshitonya/?hl=ja" target="_blank">
            <img class="social" src="{{ asset('assets/img/top/insuta.png') }}" />
        </a>
</div>
<div class="ec-role">
    <div class="site-name">新着記事</div>
    <div class="center-2-imgs">
        <a href="{{ url('homepage') }}?mode=f1">
            <img src="{{ asset('assets/img/top/n01.png') }}" />
        </a>
        <a href="{{ url('homepage') }}?mode=f15">
            <img src="{{ asset('assets/img/top/n15.png') }}" />
        </a>
        
    </div>
</div>
<div class="ec-role">
    <div class="site-name">おすすめ商品</div>
    <div class="center-4-imgs">
        <ul class="ec-shelfGrid">
        {% for Product in recommendProducts %}
            <li class="ec-shelfGrid__item">
                <a href="{{ url('homepage', {pid: Product.id }) }}">
                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" />
                </a>
                
                <a href="{{ url('homepage', {pid: Product.id }) }}">
                    <span>{{ Product.name }}</span>
                </a>   
                <b>{{ Product.price02_max|number_format}}円(税込)</b>      
            </li>
        {% endfor %}
        </ul>
    </div>
   
</div>
<div class="ec-role">
    <div class="site-name">売れ筋商品</div>
    <div class="center-4-imgs">
        <ul class="ec-shelfGrid">
        {% for Product in hitProducts %}
            <li class="ec-shelfGrid__item">
                <a href="{{ url('homepage', {pid: Product.id }) }}">
                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" />
                </a> 
                <a href="{{ url('homepage', {pid: Product.id }) }}">
                    <span>{{ Product.name }}</span>
                </a>   
                <b>{{ Product.price02_max|number_format}}円(税込)</b>           
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{# {% macro tree(Category) %}
    {% from _self import tree %}
    <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
        <img src="{{ asset('assets/img/top/cat_r_'~ Category.id ~'.jpg') }}" alt="{{ Category.name }}" />
        {{ Category.name }}
    </a>
    {# {% if Category.children|length > 0 %}
        <ul>
            
            {% for ChildCategory in Category.children %}
                <li>
                    {{ tree(ChildCategory) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %} #}
{# {% endmacro %} #}

{# @see https://github.com/bolt/bolt/pull/2388 #}
{# {% from _self import tree %}

<div class="ec-categoryNaviRole">
    <div class="ec-itemNav">
        <ul class="ec-itemNav__nav">
            
                {% for Category in Categories %}
                <hr>
                    <li>
                        {{ tree(Category) }}
                    </li>
                {% endfor %}
                <hr>
           
        </ul>
    </div>
</div> #}