{#
Copyright (c) 2018 VeriTrans Inc., a Digital Garage company. All rights reserved.
http://www.veritrans.co.jp/
#}
<script>
$(function() {
$('div.card.rounded.border-0.mb-4').append(
'<div class="card rounded border-0 mb-4">'+
'    <div class="card-header"><span>ベリトランス4G設定</span></div>'+
'    <div class="card-body">'+
'        <div class="row">'+
'            <div class="col-3"><span>コンビニ選択</span><span'+
'                        class="badge badge-primary ml-1">必須</span></div>'+
'            <div class="col mb-2">'+
'                {% spaceless %}{{ form_widget(form.conveni) }}{% endspaceless %}'+
'                {% spaceless %}{{ form_errors(form.conveni) }}{% endspaceless %}'+
'                <p class="small text-danger">'+
'                    注）<br />'+
'                    ご契約の内容によって利用可否が異なりますので、MAP（ベリトランス管理画面）のダッシュボードより「サービス利用情報」の「コンビニ」の表示内容をご確認ください。<br />'+
'                    ・05をご利用の場合は、02、03はご利用できません。<br />'+
'                    ・02、03をご利用の場合は、05はご利用できません。'+
'                </p>'+
'            </div>'+
'        </div>'+
'        <div class="row">'+
'            <div class="col-3"><span>支払期限</span><span'+
'                        class="badge badge-primary ml-1">必須</span></div>'+
'            <div class="col mb-2">'+
'                {{ form_widget(form.payment_term_day) }}日 <br /><span class="text-danger errormsg">（半角数字で入力）</span>'+
'                {% spaceless %}{{ form_errors(form.payment_term_day) }}{% endspaceless %}'+
'            </div>'+
'        </div>'+
'        <div class="row">'+
'            <div class="col-3"><span>自由項目1</span></div>'+
'            <div class="col mb-2">'+
'                {{ form_widget(form.free1) }}<span class="text-danger errormsg">（上限16文字）</span>'+
'                {% spaceless %}{{ form_errors(form.free1) }}{% endspaceless %}'+
'            </div>'+
'        </div>'+
'        <div class="row">'+
'            <div class="col-3"><span>自由項目2</span></div>'+
'            <div class="col mb-2">'+
'                {{ form_widget(form.free2) }}<span class="text-danger errormsg">（上限16文字）</span>'+
'                {% spaceless %}{{ form_errors(form.free2) }}{% endspaceless %}'+
'            </div>'+
'        </div>'+
'        <div class="row">'+
'            <div class="col-3"><span>決済完了案内タイトル</span></div>'+
'            <div class="col mb-2">'+
'                {{ form_widget(form.order_mail_title1) }}<span class="text-danger errormsg">（上限50文字）</span>'+
'                {% spaceless %}{{ form_errors(form.order_mail_title1) }}{% endspaceless %}'+
'                <p class="small text-danger">ご注文完了画面とご注文完了メールに、支払いに関する案内文を入れる場合にはタイトルと本文を入れて下さい。(両方入っていない場合は有効になりません。)</p>'+
'            </div>'+
'        </div>'+
'        <div class="row">'+
'            <div class="col-3"><span>決済完了案内本文</span></div>'+
'            <div class="col mb-2">'+
'                {{ form_widget(form.order_mail_body1) }}<span class="text-danger">（上限1000文字）</span>'+
'                {% spaceless %}{{ form_errors(form.order_mail_body1) }}{% endspaceless %}'+
'            </div>'+
'        </div>'+
'</div>'
);

});
</script>
